.card {
  font-family: $ff-roboto;
  padding: 30px 10px;
  padding-bottom: 60px;
  background-color: $color-default-white;
  display: flex;
  flex-direction: column;
  border: 7px solid transparent;
  align-items: center;
  border-image-source: transparent;

  @include vp-tablet {
    padding-top: 30px;
    padding-bottom: 63px;
  }

  @include vp-mobile {
    padding: 23px 10px 50px;
  }

  h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 29px;
    color: $color-text-dark;
    margin-bottom: 11px;

    @include vp-tablet {
      margin-bottom: 10px;
      margin-left: 4px;
    }

    @include vp-mobile {
      font-size: 22px;
      line-height: 110.16%;
      margin-bottom: 8px;
    }
  }

  span {
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #495a7d;
    margin-bottom: 64px;

    @include vp-tablet {
      margin-bottom: 66px;
    }

    @include vp-mobile {
      margin-bottom: 56px;
    }
  }

  &:hover,
  &:focus,
  &:active {
    border: 7px solid;
    border-image-source: linear-gradient(148.82deg, #d10a42 0.85%, #00359f 100%);
    border-image-slice: 1;
  }
}

.card__price {
  font-weight: 700;
  font-size: 60px;
  line-height: 1.5;
  color: #103aae;
  z-index: 2;
  margin: 0 0 35px 3px;
  position: relative;
  display: block;

  @include vp-tablet {
    margin: 0 0 36px 0;
  }

  @include vp-mobile {
    font-size: 48px;
    margin: 0 0 30px;
  }

  &::before {
    content: attr(data-price);
    font-style: normal;
    font-weight: 700;
    font-size: 100px;
    color: rgba(232, 232, 232, 0.48);
    margin: 0;
    position: absolute;
    z-index: -1;
    bottom: -6px;
    left: -21px;
    display: block;

    @include vp-mobile {
      font-size: 80px;
    }
  }

  svg {
    @include vp-mobile {
      width: 24px;
      height: 33px;
    }
  }
}

.card__button {
  width: 64%;
  padding: 26px 10px;
  padding-bottom: 23px;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: center;
  color: $color-text-dark;
  outline: 2px solid $color-text-dark;
  outline-offset: -2px;
  border: none;
  transition: color 0.3s ease, transform 0.3s ease;

  @include hover-focus {
    color: $color-text-light;
    background: linear-gradient(97.05deg, #ed0233 17.6%, #003eb7 95.31%);
    outline: none;
  }

  &:active {
    opacity: 0.7;
    transform: scale(0.98);
  }

  @include vp-tablet {
    width: 50%;
    padding-bottom: 22px;
  }

  @include vp-mobile {
    justify-self: flex-start;
    width: 81%;
    padding-top: 26px;
    padding-bottom: 23px;
    margin-left: 0;
  }
}
