.competition {
  padding-top: 123px;
  padding-bottom: 77px;
  color: $color-text-light;

  @include vp-tablet {
    padding-top: 100px;
    padding-bottom: 68px;
  }

  @include vp-mobile {
    padding-top: 70px;
    padding-bottom: 34px;
  }
}

.competition__container {
  display: flex;
  justify-content: center;

  @include vp-mobile {
    flex-direction: column;
  }
}

.competition__content {
  background-color: $accent-color;
  padding: 85px 78px;
  padding-top: 81px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(3, auto);
  max-width: 43%;
  align-items: flex-start;

  @include vp-tablet {
    grid-template-rows: auto auto auto;
    padding: 50px 45px;
    width: 50%;
    padding-top: 47px;
    padding-bottom: 30px;
  }

  @include vp-mobile {
    width: 100%;
    padding: 50px 44px;
    max-width: none;
    padding-bottom: 44px;
    padding-top: 49px;
  }

  h2 {
    font-family: $ff-alumni;
    font-weight: 600;
    font-size: 82px;
    line-height: 96%;
    letter-spacing: 0.03em;
    margin: 0;
    grid-row: 1/3;
    margin-left: 13px;
    margin-top: 4px;

    @include vp-tablet {
      font-size: 48px;
      line-height: 96%;
      margin-top: 10px;
      margin-left: 7px;
    }

    @include vp-mobile {
      margin-top: 3px;
    }
  }
}

.competition__button {
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $color-text-light;
  border: 4px solid $color-text-light;
  grid-row: 4/5;
  grid-column: 1/-1;
  padding-top: 24px;
  padding-bottom: 23px;
  margin-top: 26px;
  text-align: center;
  transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease, transform 0.3s ease;

  @include vp-tablet {
    padding: 12px;
    width: 100%;
    font-size: 10px;
    line-height: 12px;
    margin: 0;
    margin-top: 6px;
    margin-bottom: 7px;
  }

  @include vp-mobile {
    margin-top: 30px;
    padding-top: 13px;
    padding-bottom: 13px;
  }

  &:hover,
  &:focus {
    border: 4px solid $color-accent-dark;
    background-color: $color-accent-dark;
    color: $color-text-light;
  }

  &:active {
    transform: scale(0.98);
  }
}

.competition__description {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  margin: 0;
  grid-column: 1/-1;
  grid-row: 3/4;
  padding-top: 23px;
  padding-bottom: 21px;

  @include vp-tablet {
    font-size: 12px;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: -28px;
  }

  @include vp-mobile {
    margin-top: 5px;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.competition__date {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  margin-left: 21px;

  @include vp-tablet {
    font-size: 12px;
  }

  &--time {
    margin-top: 19px;

    @include vp-tablet {
      margin-top: -28px;
    }

    @include vp-mobile {
      margin-top: 6px;
    }
  }

  p {
    margin: 0;
    display: flex;
    gap: 3px;
    padding-top: 3px;

    @include vp-tablet {
      padding-bottom: 3px;
      padding-top: 2px;
    }
  }
}

.competition__date-name {
  margin: 0;
  border-bottom: 1px solid $color-text-light;
  line-height: 1;
  padding-top: 4px;
  padding-bottom: 10px;
  width: 100%;

  @include vp-tablet {
    width: 80%;
  }

  &--time {
    @include vp-tablet {
      padding-top: 8px;
    }
  }
}

.competition__date-number {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  padding-left: 5px;

  @include vp-tablet {
    padding: 0;
    font-size: 10px;
    line-height: 1;
    padding-top: 2px;
  }

  span {
    display: flex;
    flex-direction: column;
    font-size: 14px;

    @include vp-tablet {
      font-size: 10px;
    }
  }
}

.competition__date-time {
  font-weight: 700;
  font-size: 40px;
  line-height: 1;
  display: flex;

  @include vp-tablet {
    font-size: 24px;
    padding-top: 4px;

    &--more {
      padding-top: 0;
    }
  }
}

.competition__image {
  background-color: $color-bg-dark;

  @include vp-tablet {
    width: 386px;
  }

  @include vp-mobile {
    width: 100%;
    max-width: 100%;
  }

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    aspect-ratio: 660/500;

    @include vp-tablet {
      aspect-ratio: 386/292;
    }

    @include vp-mobile {
      aspect-ratio: 290/292;
    }
  }
}
