.contacts {
  padding-top: 56px;
  padding-bottom: 15px;
  padding-left: 120px;
  margin-right: auto;
  max-width: 585px;
  display: flex;
  justify-self: flex-start;
  flex-direction: column;

  @include vp-tablet {
    padding: 54px 128px 63px;
    max-width: 100%;
    column-gap: 60px;
    margin-right: 0;
    justify-self: center;
  }

  @include vp-mobile {
    width: 100%;
    padding: 50px 10px 59px;
  }

  h2 {
    font-family: $ff-alumni;
    font-weight: 600;
    font-size: 54px;
    line-height: 65px;
    letter-spacing: 0.03em;
    margin: 0;
    margin-bottom: 36px;
    max-width: fit-content;

    @include vp-tablet {
      font-size: 42px;
      margin-bottom: 25px;
      margin-left: 5px;
    }

    @include vp-mobile {
      font-size: 32px;
      margin-bottom: 21px;
    }
  }
}

.contacts__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 120px;
  row-gap: 18px;
  position: relative;
  margin-left: 3px;

  @include vp-tablet {
    column-gap: 68px;
    row-gap: 18px;
    padding-left: 0;
  }

  @include vp-mobile {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 21px;
  }

  &::before {
    content: "";
    width: 1px;
    background-color: #74819c;
    position: absolute;
    top: 5px;
    bottom: 5px;
    left: 51%;
    transform: translateX(-50%);

    @include vp-tablet {
      left: 53%;
      top: 7px;
      bottom: 8px;
    }

    @include vp-mobile {
      display: none;
    }
  }

  li {
    @include vp-tablet {
      margin-left: 2px;
    }
  }

  li:nth-child(even) {
    @include vp-tablet {
      margin-left: 28px;
    }

    @include vp-mobile {
      margin-left: 0;
    }
  }

  h3 {
    margin: 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    max-width: fit-content;
    margin-bottom: 2px;

    @include vp-tablet {
      font-size: 20px;
      margin-bottom: 6px;
    }

    @include vp-mobile {
      margin-bottom: 5px;
    }
  }

  p {
    margin: 0;
    font-size: 14px;

    @include vp-tablet {
      font-size: 18px;
    }
  }

  a {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    display: block;
    max-width: 100%;

    transition: color 0.3s ease 0s;

    @include vp-tablet {
      font-size: 18px;
      line-height: 27px;
    }

    &:hover,
    &:focus,
    &:active {
      color: #ed0233;
    }
  }

  address {
    font-style: normal;
  }
}

.contacts__item {
  &--time {
    @include vp-mobile {
      order: 1;
    }
  }

  &--tel {
    @include vp-mobile {
      order: 2;
    }
  }

  &--mail {
    @include vp-mobile {
      order: 3;
    }
  }
}
