.header {
  padding-top: 31px;
  z-index: 2;

  @include vp-tablet {
    padding-top: 34px;
  }

  @include vp-mobile {
    padding-top: 16px;
  }
}

.header__container {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.header__logo {
  margin-top: 9px;

  @include vp-tablet {
    margin-top: 6px;
  }

  @include vp-mobile {
    margin-top: 0;
  }
}
