.logo {
  svg {
    @include vp-tablet {
      width: 82px;
      height: 17px;
    }

    @include vp-mobile {
      width: 69px;
      height: 24px;
    }
  }
}

.logo--footer {
  svg {
    width: 88px;

    @include vp-tablet {
      width: 82px;
    }

    @include vp-mobile {
      width: 68px;
      margin-bottom: 5px;
    }
  }
}
