.navigation__list {
  font-size: 14px;
  line-height: 1;
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 34px;

  @include vp-tablet {
    gap: 30px;
  }

  @include vp-mobile {
    gap: 30px;
    display: block;
  }

  a {
    color: $color-text-light;
    padding: 3px;
    border-radius: 1px;
    transition: color 0.3s ease 0s;
    &:hover,
    &:focus,
    &:active {
      color:$accent-color;
    }
    &:focus-visible {
      outline: 1px solid $color-default-white;
      outline-offset: 3px;
    }
  }
}
