.order {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-top: 1px solid #74819c;

  @include vp-tablet {
    grid-template-columns: 1fr;
    border: none;
  }
}

.order__form {
  background-color: $color-text-dark;
}
