.review {
  padding: 120px 45px;
  width: 100%;
  margin: 0 auto;
  color: $color-text-dark;

  @include vp-tablet {
    padding: 105px 45px 95px;
  }

  @include vp-mobile {
    padding: 0;
    padding-top: 63px;
    padding-bottom: 66px;
  }
}

.review__container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1160px;
  margin: 0 auto;
  gap: 3%;
  position: relative;
  padding-bottom: 116px;

  @include vp-tablet {
    flex-direction: column;
    align-items: center;
    padding-bottom: 87px;
  }

  @include vp-mobile {
    gap: 33px;
    padding-bottom: 0;
  }
}

.review__text {
  max-width: 35.5%;
  padding: 20px;
  padding-top: 26px;
  padding-left: 60px;
  padding-right: 0;

  @include vp-tablet {
    width: 100%;
    max-width: none;
    padding: 0;
    text-align: center;
  }

  @include vp-mobile {
    padding-left: 15px;
    padding-right: 15px;
  }

  h2 {
    font-family: $ff-alumni;
    font-weight: 500;
    font-size: 48px;
    line-height: 1;
    margin-top: 18px;
    margin-bottom: 11px;
    letter-spacing: 0.03em;

    @include vp-tablet {
      font-size: 42px;
      margin-right: 14px;
      margin-top: 0;
      margin-bottom: 0;
    }

    @include vp-mobile {
      font-size: 32px;
      text-align-last: left;
      margin-bottom: 6px;
    }
  }
}

.review__subtitle {
  font-family: $ff-roboto;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  margin: 0;
  margin-bottom: 39px;

  @include vp-tablet {
    margin-bottom: 36px;
  }

  @include vp-mobile {
    text-align-last: left;
    margin-bottom: 24px;
  }
}

.review__description {
  font-family: $ff-roboto;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  margin-bottom: 8px;

  @include vp-tablet {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 44px;
    padding-right: 0;
  }

  @include vp-mobile {
    margin: 0;
    text-align: left;
    width: 100%;
    padding-right: 20px;
  }

  &--more {
    margin-top: 8px;
    margin-right: 15px;

    @include vp-tablet {
      display: none;
    }
  }
}

.review__image {
  height: 100%;
  margin-left: auto;

  @include vp-tablet {
    max-width: none;
    width: 100%;
    margin: 0;
  }

  img {
    width: 100%;
    object-fit: cover;

    @include vp-tablet {
      aspect-ratio: 678/345;
    }

    @include vp-mobile {
      aspect-ratio: 320/313;
    }
  }
}

.review__video {
  position: absolute;
  left: 53.5%;
  transform: translateX(-50%);
  top: 287px;
  width: 364px;
  height: 228px;

  @include vp-tablet {
    top: auto;
    bottom: 5px;
    left: 50%;
    margin-top: 0;
    max-width: 266px;
    height: 167px;
  }

  @include vp-mobile {
    position: relative;
    transform: none;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    margin-top: 12px;
    width: 100%;
    height: auto;
    aspect-ratio: 320 / 167;
  }

  iframe {
    object-fit: cover;
    width: 364px;
    height: 228px;
  }

  img {
    object-fit: cover;
    width: 364px;
    height: 228px;

    @include vp-tablet {
      max-width: 266px;
      height: 167px;
    }
  }
}
