.subscriptions {
  background-color: #f8f9fc;
  padding:125px 45px 119px;
  position: relative;
  align-items: center;
  color: $color-text-dark;

  @include vp-tablet {
    padding: 106px 163px 100px;
  }

  @include vp-mobile {
    padding-top: 63px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 69px;
  }

  h2 {
    font-family: $ff-alumni;
    font-weight: 600;
    font-size: 54px;
    line-height: 1;
    letter-spacing: 0.03em;
    text-align: center;
    margin-top: 0;
    margin-bottom: 22px;
    margin-right: 5px;

    @include vp-tablet {
      font-size: 42px;
      margin-right: 9px;
      margin-bottom: 22px;
    }

    @include vp-mobile {
      font-size: 32px;
      margin-right: 11px;
      margin-bottom: 22px;
    }
  }
}

.subscriptions__container {
  margin: 0 auto;
  max-width: 1160px;
}

.subscriptions__list {
  background-color: #f8f9fc;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  z-index: 2;
  position: relative;

  @include vp-tablet {
    grid-template-columns: repeat(1, 1fr);
    gap: 37px;
  }

  @include vp-mobile {
    gap: 35px;
  }
}

.subscriptions__bg {
  background-color: transparent;
  position: absolute;
  bottom: -153px;
  right: 0;

  @include vp-tablet {
    bottom: -127px;
  }

  @include vp-mobile {
    display: none;
  }

  img {
    width: auto;
    height: auto;
    object-fit: contain;
  }
}
