.tabs {
  width: 100%;
  margin: auto 0;
}

.tabs__nav {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 35px;
  margin: 0;
  padding: 0;
  margin-bottom: 36px;
  padding-bottom: 13px;
  position: relative;

  @include vp-tablet {
    gap: 42px;
    margin-bottom: 44px;
  }

  @include vp-mobile {
    gap: 45px;
    margin-bottom: 32px;
  }

  &::after{
    content:'';
    width: 350px;
    height: 2px;
    background-color: rgba(120, 120, 120, 0.2);
    position: absolute;
    bottom: 0;

    @include vp-tablet {
      width: 322px;
    }

    @include vp-mobile {
      width: 100%;
    }
  }
}

.tabs__nav-btn {
  background-color: transparent;
  border:none;
  font-family: $ff-roboto;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: rgba(16, 38, 84, 0.5);
  text-align: center;
  margin: 0;
  cursor: pointer;
  position: relative;
  transition: color 0.3s ease 0s;

  @include vp-tablet {
    font-size: 18px;
  }

  @include vp-mobile {
    font-size: 16px;
    padding: 2px 0;
  }

  &:hover,
  &:focus,
  &:active {
    color: rgba(16, 38, 84, 1);
  }
}


.tabs__nav-btn.active {
  cursor: pointer;
  color: $color-text-dark;
}

.tabs__nav-btn.active::after {
  content: "";
  width: 90%;
  height: 2px;
  background-color: #d10a42;
  position: absolute;
  bottom: -12px;
  left: 5px;
}

.tabs__item {
  display: none;
}

.tabs__item.active {
  display: block;
  width: 100%;
}
